.section-form {

    .contact-form {
        width: 60%;
        margin: 0 auto;
    }

    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        padding: .7rem;
        border-radius: .3rem;
        border: .1rem solid #ccc;
    }

    textarea {
        height: 10rem;
    }

    input[type=checkbox] {
        margin: 1rem .5rem 1rem 0;
    }

    // *:focus { outline: none;}
}

// *:focus { outline: none;}
.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .3rem;
    margin-bottom: 2rem;
    color: #333; //The darkest color Jonas use...never go darker than this...
}

.success {
    background-color: rgba(38, 191, 69, 0.801);
}

.error {
    background-color: rgba(209, 46, 46, 0.801);
}